<div class="container">
    <h1>Lägg till låt till ditt quiz</h1>
    <form id="search-form">
        <input type="text" id="query" value="" class="form-control" placeholder="Type an Artist Name" />
        <input type="submit" id="search" class="btn btn-primary btn-lg" value="Search" />
    </form>
    <div id="results"></div>
</div>
<script id="results-template" type="text/x-handlebars-template">
    <table>
        <tr>
            <th></th>
            <th>Spår</th>
            <th>Artist</th>
            <th>Album</th>
            <th>Preview</th>
        </tr>
        {{#each tracks.items}}
        <tr>
            <td><img src="{{album.images.2.url}}" /></td>
            <td>{{name}}</td>
            <td>{{artists.0.name}}</td>
            <td>{{album.name}}</td>
            <td><a href="#" preview-url="{{preview_url}}" class="cover">Play!</a></td>
        </tr>

        @*<div style="border:1px solid black;"><img src="{{album.images.2.url}}" /> {{name}} - {{artists.0.name}}</div>*@
        <!--<div style="background-image:url({{album.images.0.url}})" data-album-id="{{id}}" class="cover"></div>-->
        {{/each}}
</table>
</script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js"></script>
<script src="~/js/SearchSpotifyForAlbumAndPlay30Secs.js"></script>

<!-- Här kan vi styra upp lägg-till-i-quiz-logiken -->
<form asp-controller="Quiz" asp-action="AddSong">

</form>