<div class="container">
    <h1>Lägg till låt till ditt quiz</h1>
    <form id="search-form">
        <input type="text" id="query" value="" class="form-control" placeholder="Search for a song" />
        <input type="submit" id="search" class="btn btn-primary btn-lg" value="Search" />
    </form>
    <button class="btn btn-primary" onclick="location.href='@Url.Action("EditQuiz", "Quiz")'">Return to Edit Quiz</button>
    <div id="results"></div>
</div>
<script id="results-template" type="text/x-handlebars-template">
    <table>
        <tr>
            <th class="text-center"></th>
            <th class="text-center">Spår</th>
            <th class="text-center">Artist</th>
            <th class="text-center">Album</th>
            <th class="text-center">Preview</th>
            <th class="text-center">Lägg till i quiz</th>
        </tr>
        {{#each tracks.items}}
        <tr>
            <td><img src="{{album.images.2.url}}" /></td>
            <td>{{name}}</td>
            <td>{{artists.0.name}}</td>
            <td>{{album.name}}</td>
            <td>
                <button type="button" class="btn btn-primary play-button" preview-url="{{preview_url}}">
                    <span class="glyphicon glyphicon-play" style="pointer-events:none;"></span> Play
                </button>
            </td>
            @*<td><a href="#" preview-url="{{preview_url}}" class="play-button">Play!</a></td>*@
            <td>
                <button id="add-single-song" type="button" class="btn btn-success" song-id="{{href}}">
                    <span class="glyphicon glyphicon-plus" style="pointer-events:none;"></span><span style="pointer-events:none;"> Add to playlist</span>
                </button>
            </td>
        </tr>

        @*<div style="border:1px solid black;"><img src="{{album.images.2.url}}" /> {{name}} - {{artists.0.name}}</div>*@
        <!--<div style="background-image:url({{album.images.0.url}})" data-album-id="{{id}}" class="play-button"></div>-->
        {{/each}}
    </table>
</script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/2.0.0-alpha.1/handlebars.min.js"></script>
<script src="~/js/SearchSpotifyForAlbumAndPlay30Secs.js"></script>
