@model QuizPlayerVM



<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.14.0/jquery.validate.min.js"></script>
<script src="http://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>

<form asp-controller="Quiz" asp-action="SubmitAnswer">
    <label asp-for="SubmitterName"></label><br/>
    <span asp-validation-for="SubmitterName"></span><br />
    <input asp-for="SubmitterName"/>
    @foreach (var song in Model.Songs)
    {
        @foreach (var question in song.Questions)
        {
            <p>@question.Text</p><input type="text"/>

        }
    }
    <br />
    <input type="submit" value="Submit answers!" />
</form>