@model IndexVM

@if (Model.LoggedIn)
{
    <p>Du är inloggad som tusan med @Model.Username!</p>
}
else
{
<p>Den här sidan kan visas när man inte är inloggad.</p>
    <p>Här är länk till inloggningen!!! Logga in!</p>
    
}

