@model IndexVM

@if (Model.LoggedIn)
{
    <p>Du är inloggad som tusan med @Model.Username!</p>
    <ol>
        @foreach (var quiz in Model.Quizzes)
        {
            <li><a href="Quiz/@quiz.Name">@quiz.Name</a></li>
        }
    </ol>
}
else
{
<p>Den här sidan kan visas när man inte är inloggad.</p>
    <p>Här är länk till inloggningen!!! Logga in!</p>
    
}

