<form asp-controller="Account" asp-action="ExternalLogin" method="post">
    <button type="submit" class="btn btn-success btn-lg">Log in with Spotify</button>
</form>
<label>Log in with Spotify to create your quiz</label><br /><br />
<button class="btn btn-primary btn-lg">Enter PIN</button><br />
<label>You have a PIN and want to join a quiz</label>