<div class="container-fluid text-center">
    <form asp-controller="Account" asp-action="ExternalLogin" method="post">
        <button type="submit" class="btn btn-success btn-lg">Log in with Spotify</button>
    </form>
    <label>Log in with Spotify to create your quiz</label><br /><br />
    <form asp-controller="Quiz" asp-action="PlayQuiz" method="post">
        <div class="input-group input-group-lg col-xs-2" style="margin-left:auto;margin-right:auto;min-width:200px;">
            <input type="text" class="form-control" name="pin" placeholder="Enter PIN">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-lg btn-primary">Go!</button>
            </span>
        </div><!-- /input-group -->
    </form>
</div>
<!--<button class="btn btn-primary btn-lg">Enter PIN</button><br />-->
<label>You have a PIN and want to join a quiz</label>