@model IndexVM
@if (Model.LoggedIn)
{
    <p>Du är inloggad som tusan med @Model.Username!</p>

    <div class="list-group">
        @foreach (var quiz in Model.Quizzes)
        {
            <a href="Quiz/@quiz.Name" class="list-group-item">@quiz.Name</a>
        }
    </div>


    <form asp-controller="Home" asp-action="GetPlayLists" method="post">
        <button type="submit">Get playlists!</button>
    </form>
}
else
{
    <button class="btn btn-success btn-lg">Log in with Spotify</button><br />
    <label>Log in with Spotify to create your quiz</label><br /><br />
    <button class="btn btn-primary btn-lg">Enter PIN</button><br />
    <label>You have a PIN and want to join a quiz</label>
}