@model UserVM
<!--<p>Du är inloggad som tusan med @Model.Username!</p>-->
<div class="list-group" style="display:inline-block;">
    @foreach (var quiz in Model.Quizzes)
    {
    <a href="Quiz/@quiz.Name" class="list-group-item">@quiz.Name</a>
    }
    <br />
    <a asp-controller="Home" asp-action="ViewPlaylists" class="list-group-item list-group-item-success">Lägg till quiz</a>
</div>


@*<form asp-controller="Home" asp-action="ViewPlaylists" method="post">
    <button type="submit">Get playlists!</button>
</form>*@
